@import '~antd/dist/antd.dark.css';
@import '~antd/dist/antd.compact.css';
@import '~antd/dist/antd.css';

.text-white {
  color: white;
}


.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}